.detail-container {
  max-width: 800px;  /* 最大幅を指定 */
  margin: 0 auto;    /* 中央配置 */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.review-button-title {
  font-size: 25px;
}


.detail-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}


/* 店舗画像のスタイル */
.container img {
  width: 100%;
  margin: 10px 0;
}

/* Google Map埋め込みスタイル */
.container iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin: 20px 0;
}

/* テキスト情報のスタイル */
.container p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
}

.container p strong {
  font-weight: bold;
  color: #333;
}
.favorite-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: #f4932b;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s;
}
.favorite-button.active {
  background-color: #fffc49;
}


/* 星のスタイル */
.star {
  font-size: 24px; /* 星の大きさ */
  color: gray; /* デフォルトの星の色 */
  margin: 0 2px; /* 星の間隔 */
  display: inline-block;
  transition: color 0.3s ease; /* 色変更のスムーズなアニメーション */
}

.star.selected {
  color: gold;
}


.review-button:hover {
  background-color: #f0f0f0; /* ホバー時に少しグレーに */
  transform: scale(1.05); /* ホバー時に拡大 */
}
.container .link:hover {
  background-color: #aaa;
}

/* 店舗公式サイトリンク */
.official-site {
  color: black;
}
.container a:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}




@media (max-width: 480px) {
  .detail-container {
    max-width: 100%;
    padding: 15px;
    text-align: center;
  }
  .detail-title{
    font-size: 20px;
    margin-top: 80px;
  }

  .favorite-button {
    font-size: 14px;
    padding: 8px;
  }

  .official-site.review-button {
    font-size: 14px;
    padding: 8px;
  }
 iframe {
  height: 250px;
 }
 .review-button-detail {
  text-align: center;
  font-size: 11px;
  width: 50%;
 }
}