.region-list-title-dogcafe  {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #CBA35C;;
}

.region-list-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: auto;
}

.region-section {
  margin-bottom: 20px;
}

.region-title-dogcafe {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prefecture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prefecture-button {
  cursor: pointer; /* カーソルを手形にする */
  padding: 10px 15px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.prefecture-button:hover {
  color: hsl(53, 48%, 37%);
  background-color: #f9f9f9;
}
