.TopPage-container {
  max-width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-title {
  opacity: 0;
  font-size: 1rem;
  text-align: center;
  transform: translateY(-20px);
  font-family: Zen Kaku Gothic New;
  font-weight: 600;
  margin: 100px;

}

.main-title.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-container {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 50px;
  margin-left: 33px;

}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
}

.scroll-content {
  flex: 0 0 25%;
  text-align: center;
  margin-top: -70px;
}

.item {
  margin: 0 50px;
  text-align: center;
  line-height: 200px;
  font-size: 24px;
}

.item-hospital-nametag {
  position: relative;
  z-index: 2;
}

.hospital-item {
  margin: 0 50px;
  text-align: center;
  line-height: 200px;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: -49px;
  position: relative;
  z-index: 1;

}


.main-action {
  opacity: 0;
  transform: translate(20px);
  transform: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.main__action.show {
  opacity: 1;
  transform: translateY(0);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.top-image:hover,
.top-image:focus,
.top-image:active {
  transform: translateY(-10px);
  transition: transform 0.8s ease-out;
}


.footer {
  font-size: 0.9rem;
  color: #000;
  padding: 20px 0;
  border-bottom: #000;
}


.fade-in {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 480px) {

  .main__action {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .main__action.show {
    opacity: 1;
    transform: translateY(0);
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    animation: none;
    align-items: center;
  }

  .scroll-content:nth-child(2) {
    display: none;
  }

  .item {
    max-width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
  }

  .item-nametag {
    margin-left: 50px;
  }

  .main-title {
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .fade-in {
    opacity: 0;
    transform: translate(0);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

  .fade-in.show {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-in:nth-child(1) {
    transition-delay: 0s;
    /* ドッグラン */
  }

  .fade-in:nth-child(2) {
    transition-delay: 0.4s;
    /* ドッグカフェ */
  }

  .fade-in:nth-child(3) {
    transition-delay: 0.6s;
    /* ペットショップ */
  }

  .fade-in:nth-child(4) {
    transition-delay: 0.8s;
    /* 病院 */
  }


  .footer {
    font-size: 0.8rem;
    text-align: center;

  }

  .header-nav {
    display: block;
  }

}