a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.main-action {
  opacity: 1;
  animation: fadeOut 5s forwards;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.main-scroll-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: auto 140px;
}

.main-scroll-text {
  font-size: 15px;
  color: rgba(28, 28, 30, 1);
  text-align: center;
  margin-top: 10px;
}

.main-action:hover .main-scroll-box {
  animation: scroll-down 1s infinite;
}
.main-scroll {
text-align: center;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}
