.review-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.store-name-review {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.review-star-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  font-size: 24px;
  margin: 0 auto;

}

.review-star-background {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  z-index: 0;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.review-star-filled {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffcc00;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  width: 0;
  transition: width 0.3s ease;
  text-align: center;
}


.average-rating-value {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
  margin-top: 7px;
}

.review-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #444;
}

.click-review-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #82AD24;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.click-review-button:hover {
  background-color: #9cc14b;
}

.review-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.review-rating {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.star {
  color: #ccc;
  font-size: 20px;
  margin-right: 3px;
}

.star.selected {
  color: #ffcc00;
}

.review-comment {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  word-break: break-word;
}

footer {
  margin-top: 20px;
}


@media screen and (max-width: 480px) {


  .store-name-review {
    font-size: 25px;
  }

  .click-review-button {
    width: 100px;
    font-size: 15px;
    max-width: 150px;
  }

  .review-star-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    font-size: 24px;
    margin: 0 auto;

  }

  .review-title {
    font-size: 15px;
  }

  .review-star-background {
    position: absolute;
    top: 0;
    left: 24px;
    color: #ccc;
    z-index: 0;
    white-space: nowrap;
    width: 100%;
  }

  .review-star-filled {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffcc00;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    transition: width 0.3s ease;
    width: 0;

  }

  .review-card {
    padding: 10px;
  }

  .review-comment {
    font-size: 14px;
    line-height: 1.4;
  }
}