/* ページ全体の設定 */
.body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  font-family: "Zen Kaku Gothic New", zen-kaku-gothic-new, "Noto Sans", "Yu Gothic",
    "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Osaka,
    "MS UI Gothic", "MS Ｐゴシック", "MS PGothic", sans-serif;
  overflow-x: hidden;
}

/* コンテナのスタイル */
.dogrun-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 80px 20px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

/* 見出し・リンクのスタイル */
.search-dogrun {
  background-color: #1db954;
  color: #fff;
  border-radius: 40px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 20px 90px;
  margin: 20px;
  font-size: 16px;
  max-width: 80%;
  word-break: keep-all;
}

/* スライダーコンテナ */
.store-slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin-top: 40px;
}

/* スライダーのトラック */
.dogrun-slider {
  display: flex;
  white-space: nowrap;
  transform: translateX(0); /* 初期位置 */
}

/* 各店舗カード */
.store-card {
  font-size: 20px;
  background-color: #fefdf6;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 300px; /* 固定幅 */
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.store-card img {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px auto;
}


/* アニメーション定義 */
@keyframes scroll-loop {
  0% {
    transform: translateX(0); /* 初期位置 */
  }
  100% {
    transform: translate(-100%); /* calc()を使用して正しく計算 */
  }
}



@media (max-width:480px) {
  
/* コンテナのスタイル */
.dogrun-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

  .search-dogrun {
    background-color: #1DB954;
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    padding: 55px;
    margin: 20px -44px 92px -40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
  }

  .search-dogrun:hover {
    transform: scale(1.05);
  }
  .dogrun-image {
    max-width: 170%;
    display: block;
  }

  .store-card {
    margin-top: 30px;
    width: 250px;
    height: 235px;
  } 
  .store-card img{
    width: 200px;
    height: 95px;
    border-radius: 10px;
  }
  .slider-store-name {
  font-size: 13px;
  }
  .slider-prefecture-name {
    font-size: 18px;
  }
}