.content {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.store-list {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.search-tags,
.search-tags2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.type1-tags,
.type2-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 9px;
}

.dogrun-tag-button {
  display: inline-block;
  color: #333;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dogrun-tag-button:hover {
  background-color: #f0f0f0;
}

.dogrun-tag-button.selected {
  background-color:rgba(0, 0, 0, 0.25);
  color: rgb(0, 0, 0);
  transform: scale(1.05);
}

.store-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 10px;
}


.store-item {
  display: block;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px 0;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

.store-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.store-item p {
  font-size: 14px;
  color: #555;
  margin: 5px 20px;
}

.store-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}


.store-discription {
  font-size: 14px;
  margin-bottom: 10px;
}

.stars-background-storelist {
  font-size: 1.2rem;
  color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 0;
}

.stars-filled-storelist {
  font-size: 1.2rem;
  color: #FFD700;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.star-rating-container {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
}

.average-rating-value-storelist {
  font-size: 1rem;
  color: #333;
  margin-left: 105px;
  margin-top: 20px;
}
.store-name-storelist {
  font-size: 20px;
}


@media (max-width: 480px) {
  
  .title {
    font-size: 18px;
    text-align: center;
  }

  .search-tags,
  .search-tags2 {
    font-size: 16px;
  }

  .dogrun-tag-button {
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    color: #282d27;
    margin: 5px;
  }

  .store-list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .store-item {
    padding: 10px;
  }

  .store-name {
    font-size: 16px;
  }

  .star-rating-container {
    width: 80px;
    height: 16px;
  }

  .stars-background-storelist,
  .stars-filled-storelist {
    margin-left: 110px;
  }
  
  .average-rating-value-storelist {
    padding-left: 250px;
    margin-bottom: 170px;
  }
  
}
