
.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 0.75em 1em;
  color: rgb(16, 16, 16);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
