

.region-list-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.region-list-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.region-section {
  margin-bottom: 20px;
}

.region-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prefecture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prefecture-button {
  cursor: pointer; /* カーソルを手形にする */
  padding: 10px 15px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-right: 40px;
}

.prefecture-button:hover {
  color: #ffffff;
  background-color: #cdcdcd;
}

