.body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  overflow: hidden;
}

.hospital-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}

.search-hospital {
  background-color: #d0d2d3;
  color: #fff;
  border-radius: 40px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 104px;
  margin: -30px 106px 0 100px;
  padding-bottom: 20px;
  padding-top: 16px;
  font-size: 16px;
  max-width: 80%; /* ボタンの最大幅を設定 */
  word-break: keep-all;
}

.search-hospital:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.5);
}
.hospitalImage {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}



.store-slider-container {
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}


.store-card {
  font-size: 20px;
  background-color: #fefdf6;
  border: 1px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto; /* 子要素の幅を固定し横並び */
  margin: 30px 40px; /* カード間のスペース */
  width: 310px; /* 各カードの幅を指定 */
  text-align: center; /* 中央揃え */
}

.store-card img {
  border-radius: 10%;
  width: 270px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  display: block;
}

.region-list-title-hospital {
  color: #9e9e9e;
}
/* アニメーション定義 */
@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-2200px);
  }
}

.top-store-list {
  display: flex;
  align-items: center; /* カードを中央揃え */
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: scroll-loop 20s linear infinite;
}

.slider-store-name {
  font-size: 15px;
}



@media (max-width:480px) {

  .hospital-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 135px 20px 80px 20px;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
  }
  

  .search-hospital {
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    padding: 55px;
    margin: -20px  -44px 93px -40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
  }

    .search-hospital:hover {
      transform: scale(1.05);
    }

    .hospitalImage {
      max-width: 170%;
      display: block;
      margin-top: -30px;
    }
    .store-card {
      margin-top: 30px;
      width: 250px;
      height: 235px;
    } 
    .store-card img{
      width: 200px;
      height: 95px;
      border-radius: 10px;
    }
    .slider-store-name {
    font-size: 13px;
    }
    .slider-prefecture-name {
      font-size: 18px;
    }
  }
