.detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.detail-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}



.container img {
  width: 100%;
  margin: 10px 0;
}

.container iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin: 20px 0;
}

.container p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
}

.container p strong {
  font-weight: bold;
  color: #333;
}

.favorite-button {
  padding: 15px 20px;
  font-size: 14px;
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.favorite-button.active {
  background-color: #fa0;
}


.star {
  font-size: 24px;
  color: gray;
  margin: 0 2px;
  display: inline-block;
  transition: color 0.3s ease;
}

.star.selected {
  color: gold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-button-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #000; 
  background-color: #fff;
  border: 1px solid #000; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  font-weight: bold;
  width: 120px;
  padding: 13px 30px;
  text-align: center;
  white-space: nowrap;
}


.review-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.container .link:hover {
  background-color: #aaa;
}

.official-site {
  color: black;
}

.container a:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}


@media (max-width: 480px) {
  .hospital-container {
    max-width: 100%;
    padding: 35px;
    text-align: center;
    margin-top: 20px;
  }

  .detail-title {
    font-size: 20px;
    margin-top: 80px;
  }

  .favorite-button {
    font-size: 14px;
    padding: 8px;
  }

  .official-site.review-button {
    font-size: 14px;
    padding: 8px;
  }

  iframe {
    height: 250px;
  }
}