.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}
.login header {
  text-align: center;
  margin-bottom: 20px;
  border-top: #f7f7f7;
}

.login h1 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.login h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

button[type="submit"] {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 30px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ffff;
}