.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: Zen Kaku Gothic New;
}

.login h1 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.login h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="name"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

button[type="submit"] {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 30px;
  cursor: pointer;
  border:   1px solid #444;
}

button[type="submit"]:hover {
  background-color: #ffff;
}

.new-register-button {
  padding: 8px 25px;
}


@media (max-width: 480px) {
  .login-title {
    text-align: center;
    font-size: 14px;
    padding: 26px;
    display: flex;
    margin: 14px;
  }

}