.global-image-slider {
  position: relative;
  width: 100%;
  height: 300px; /* スライダーの高さを設定 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像の切り取りを調整 */
  transition: opacity 0.5s ease-in-out;
}
