@media (max-width:480px) {
  .hamburger-menu {
    position: relative;
    width: 100%;
  }
  
  .burger {
    position: absolute;
    right: 20px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
  }
  
  .burger span {
    display: block;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 9px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
    .burger:not(.open) span:nth-of-type(1) {
      transform: rotate(0) translate(0, 0);
    }
  
  .burger.open span:nth-of-type(1) {
    transform: rotate(45deg) translate(5px, 7px);
  }
  
  .burger.open span:nth-of-type(2) {
    opacity: 0;
  }
  
  .burger.open span:nth-of-type(3) {
    transform: rotate(-45deg) translate(5px, -8px);
  }
  
  
  .burger:not(.open) span:nth-of-type(2) {
    opacity: 1;
  }
  
  .burger:not(.open) span:nth-of-type(3) {
    transform: rotate(0) translate(0, 0);
  }
  
  .menu {
    position: fixed;
    right: -100%;
    width: 300px;
    background-color: #efefef;
    border-bottom-left-radius: 100px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 20px;
    margin-top: -20px;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
  
  }
  
  .menu.visible {
    right: 0;
  }
  
  .menu ul {
    list-style: none;
  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
  }